# Created by .ignore support plugin (hsz.mobi)
### Phalcon template
/cache/
/config/development/

### Composer template
composer.phar
vendor/

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion

*.iml

## Directory-based project format:
.idea/
